#form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: stretch;
  justify-content: space-evenly;
  width: 80%;

  h1 {
    font-family: var(--secondary-font);
    text-align: center;
  }

  input[type="submit"], .retake {
    width: 100%;
    padding: 5px 8px;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: var(--bold-text);
    letter-spacing: 2px;
    color: var(--text-light);
    background: var(--primary-linear);
    border: none;
    border-radius: 15px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s ease-in;

    &:hover {
      letter-spacing: 3.5px;
    }
  }
}