form {
  input[type='number']{
    font-size: 16px;
  }
  input[type='submit'] {
    padding: 5px 8px;
    text-transform: uppercase;
    font-weight: var(--bold-text);
    letter-spacing: 1px;
    color: var(--text-light);
    background: var(--primary-linear);
    border: none;
    border-radius: 15px;
    position: relative;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: all .3s ease-in;
    width: 150px;
    height: 35px;
    font-family: var(--primary-font);
    font-size: 1.5rem;
  }
}

nav#tab-bar {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
}

.error {
  color: #ED5F6B;
}